<nav class="navbar bg-info-subtle navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand fs-3 fw-bold" href="#">Blog</a>
    <button (click)="show = !show"
    class="navbar-toggler" type="button" data-bs-toggle="collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{'show':show}">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-3">
        <li class="nav-item">
          <a class="nav-link " aria-current="page"
          routerLink="/" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary fw-bold"
          routerLink="/active-post" routerLinkActive="active" >Post Attivi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-warning fw-bold"
          routerLink="/inactive-post" routerLinkActive="active" >Post inattivi</a>
        </li>
      </ul>
      <button *ngIf="!checkLogin" class="btn btn-outline-success me-5" (click)="login()">Login</button>
      <button *ngIf="checkLogin" class="btn btn-outline-danger me-5" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>
