#logoBrand {
  width: 50%;
}

h2 {
  margin: 0;
}

.card {
  width: 500px;
}


.container{
  background-color: rgba(255, 255, 255, 0.9);
}

.card-img-top {
  width: auto;
  max-height: 250px;
  object-fit: contain;
}
