<div class="container-fluid ">
  <div class="row d-flex justify-content-center align-items-center vh-100">
    <div class="col-4 p-5 rounded-5 text-white">
      <h2 class="mb-4">Inserisci i dati per registrarti:</h2>
      <form [formGroup]="form">
        <div class="mb-3">
          <label for="" class="form-label">Nome</label>
          <input type="text" class="form-control" formControlName="nome">
        </div>
        <div class="mb-3">
          <label for="" class="form-label">Cognome</label>
          <input type="text" class="form-control" formControlName="cognome">
        </div>
        <div formGroupName="authData">
          <div class="mb-3">
            <label for="" class="form-label">Email</label>
            <input type="email" class="form-control" formControlName="email">
          </div>
          <div class="mb-3">
            <label for="" class="form-label">User Name</label>
            <input type="text" class="form-control" formControlName="user">
          </div>
          <div class="d-flex justify-content-between gap-3">
            <div class="mb-3 w-50">
              <label for="" class="form-label">Password</label>
              <input type="password" class="form-control" formControlName="password">
            </div>
            <div class="mb-3 w-50">
              <label for="" class="form-label">Conferma Password</label>
              <input type="password" class="form-control" formControlName="confPassword">
            </div>
          </div>
        </div>
          <div class="mb-3">
            <select class="form-select" formControlName="genere">
              <option selected>Genere</option>
              <option value="1">Uomo</option>
              <option value="2">Donna</option>
              <option value="3">Altro</option>
            </select>
          </div>
          <div>
            <div class="mb-3">
              <label for="formFile" class="form-label">Importa immagine profilo</label>
              <input class="form-control" type="file" formControlName="imgProfilo">
            </div>
          </div>
          <div class="mb-3">
              <label for="" class="form-label">Biografia</label>
              <textarea class="form-control" rows="10" formControlName="bio"></textarea>
          </div>
        <button (click)="invia()"
        type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
</div>


