  <div class="row d-flex justify-content-center align-items-center vh-100">
    <div class="col p-5 rounded-5 text-white text-center">
      <img src="../../../../assets/img/logo..svg" alt="logo">
      <h2 class="mb-4 text-center">Inserisci Email e Password per entrare</h2>
      <form [formGroup]="userForm">
        <div class="mb-3">
          <label class="form-label">Inserisci la tua email</label>
          <input type="text" class="form-control mx-auto" formControlName="email" name="email">
        </div>
        <div class="mb-3">
          <label class="form-label">Inserisci la tua password</label>
          <input type="password" class="form-control mx-auto" formControlName="password" name="password">
        </div>
        <button (click)="login()"
         type="submit" class="btn btn-primary mb-3">Login</button>
      </form>
      <p class="fs-4">Non sei registrato? <a routerLink="/register" class="text-white ">Clicca qui per registrarti</a></p>
    </div>
  </div>
