body {
        background-image: url(..//img/superficie-di-tavole-bianche.jpg);
        background-size: cover;
        box-sizing: border-box;
        font-family: "Caveat", cursive;
        font-weight: 600; font-size: 25px;
        color: #555;
        margin: 0;
        padding: 0;
    }

header  {text-align: center;}

h1 {    margin: 50px;
        font-size: 50px;}

button  {
        color: transparent;
        border: none;
}

#addText i       {
        color: green;
        font-size: 25px;
        cursor: pointer;
    }

form {  display: inline;}

input { width: 300px; height: 30px;}

#addText {height: 30px;}

.delete {
            color: red;
            float: right;
            background-color: transparent;
            font-size: 25px;
            cursor: pointer;
        }

#newText .material-symbols-outlined {color: green}

.checked {         
            color: green;
            text-decoration: line-through;}

#lista {   
            margin: 20px;
            width: 50%; height: 50px;
            position: absolute;
            margin: 20px;
            left: 25%;
            background-color: rgba(236, 214, 189, 0.63);
            cursor: pointer;
            border-radius: 10px;

}       


