<div class="container-fluid ">
  <div class="row d-flex justify-content-center align-items-center vh-100">
    <div class="col-4 p-5 rounded-5 text-white">
      <h2 class="mb-4">Inserisci Email e Password per entrare</h2>
      <form>
        <input type="email" class="form-control mb-3" name="email" [(ngModel)]="authData.email" placeholder="Inserisci la tua email">
        <input type="password" class="form-control mb-3" name="password" [(ngModel)]="authData.password" placeholder="Inserisci la tua password">
        <button (click)="login()"
         type="submit" class="btn btn-primary mb-3">Login</button>
      </form>
      <a routerLink="/register" class="text-decoration-none text-white">Se non sei registrato, clicca qui per registrarti</a>
    </div>
  </div>
</div>
