<div>
  <div class="card"
   [ngClass]="{'border-primary': post.active,
               'border-warning': !post.active
   }">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title pb-3">{{ post.title }}</h5>
      <p class="card-text">{{ post.body }}</p>
      <p class="fw-bold">Tags:
      </p>
      <p appRandomColor class="badge"
       *ngFor="let t of post.tags"> {{ t | uppercase }}</p>
      <div class="d-flex justify-content-between">
        <button class="btn btn-info text-white align-self-sm-end"
          >Dettagli</button>
        <button class="btn btn-warning text-white align-self-sm-end mt-2"
               (click)="changeStatus()">Modifica</button>
      </div>
      <div class="card-body d-flex flex-column  mt-3" *ngIf="this.status">
        <h5 class="card-title">Titolo: {{ post.title }}</h5>
      </div>
      <div class="card-body" *ngIf="this.status">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
