@import '@sweetalert2/themes/dark/dark.scss';

.col {
  max-width: 70%;
  background-color: hsla(0, 3%, 21%, 0.39);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.row {
  background-image: url(../../../../assets/img/wp10615935-movie-collection-wallpapers.jpg);
  background-size: cover;
}

.col img {
  max-width: 500px;
}

input {
  max-width: 600px;
}
